.filter-key {
  min-width: 5em;
}

.category-label {
  border: 0.1em solid #9e9f9f;
  border-radius: 0.5em;
  padding: 0.25em;
  margin: 0.1em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-size: small;
}

.close-button {
  margin-left: 1em;
  font-size: 0.75em;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

